body{
  font-family: sans-serif;
  font-size: 1em;
  text-transform: uppercase;
}
.content{
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
}
table{
  margin: 0 auto;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*background-color: #af1212;*/
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  /*left: 4px;*/
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #84d62a;
}

input:focus + .slider {
  box-shadow: 0 0 1px #84d62a;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.unactive {
  border-radius: 34px;
  background-color: #989898 !important;
}

.slider.unchecked {
  border-radius: 34px;
  background-color: #af1212;
}

.slider.checked {
  border-radius: 34px;
  background-color: #84d62a;
}

.slider.unchecked:before {
  left: 4px;
}

.slider.checked:before {
  right: 4px;
}

.isok:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 70px;
  bottom: 4px;
  border-radius:26px;
  -webkit-transition: .4s;
  transition: .4s;
}

.isok.ok:before {
  background-color: #84d62a;
}

.isok.nook:before {
  background-color: #af1212;
}
.slider_text{
  display:none;
}

@media only screen and (max-width: 700px) {
  body{
    margin: 0px;
  }
  .slider.unchecked:before, .slider.checked:before, .isok:before, .slider:before {
    display:none;
  }

  .slider.unactive, .slider.unchecked, .slider.checked{
    border-radius:0;
    width: 100%;
    height: 25vh;
  }
  td:first-child{
    display: none;
  }

  .switch{
    width: 100vw;
    height: 25vh;
  }
  .slider_text{
    font-size: 2em;
    text-shadow: 0px 0px 6px #000;
    color: #FFF;
    display: table-cell;
    vertical-align: middle;
  }

  .slider{
    display: table;
  }
}
